<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KLBasicFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18DBE583218170B400B04E70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DBE59B218170B600B04E70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DBE5A6218170B600B04E70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
